#api
/api/__pycache__/
*.py[cod]
*$py.class

/api/.Python
/api/build/
/api/develop-eggs/
/api/dist/
/api/downloads/
/api/eggs/
/api/.eggs/
/api/lib/
/api/lib64/
/api/parts/
/api/sdist/
/api/var/
/api/wheels/
/api/share/python-wheels/
/api/*.egg-info/
/api/.installed.cfg
/api/*.egg
/api/MANIFEST

/api/venv
/api/.env

/assetsinfo/node_modules
/assetsinfo/.pnp
/assetsinfo.pnp.js


#assetsinfo

/assetsinfo/coverage

/assetsinfo/build

/assetsinfo/.DS_Store
/assetsinfo/.env.local
/assetsinfo/.env.development.local
/assetsinfo/.env.test.local
/assetsinfo/.env.production.local

/assetsinfo/npm-debug.log*
/assetsinfo/yarn-debug.log*
/assetsinfo/yarn-error.log*
node_modules